<?php

return array(

    'DB_HOST' => '',

    'DB_NAME' => '',

    'DB_USER' => '',

    'DB_PASS' => '',

    'DEBUG'   => false,

    'SECURE' => false,

    'PAYPAL_MODE' => 'sandbox',

    'PAYPAL_URL' => '',

    'PAYPAL_CLIENT_ID' => '',

    'PAYPAL_CLIENT_SECRET' => '',

    'CLOUDFRONT_URL' => '',

    'AWS_ACCESS_KEY_ID' => '',

    'AWS_SECRET_KEY' => '',

    'AWS_S3_BUCKET' => '',

    'STRIPE_SECRET_KEY' => '',

    'STRIPE_PUBLISHABLE_KEY' => '',

    'STRIPE_CLIENT_ID' => '',

    'STRIPE_CONNECT_API' => '',

    'STRIPE_LIVE_MODE' => false,

    'STRIPE_REDIRECT_URL' => 'com.mobilenow.paxifi://'
);
