<?php

return array(

    'DB_HOST' => '',

    'DB_NAME' => '',

    'DB_USER' => '',

    'DB_PASS' => '',

    'DEBUG'   => false,

    'SECURE' => false,

    'PAYPAL_MODE' => 'sandbox',

    'PAYPAL_URL' => '',

    'PAYPAL_CLIENT_ID' => '',

    'PAYPAL_CLIENT_SECRET' => '',

    'CLOUDFRONT_URL' => '',

    'AWS_ACCESS_KEY_ID' => '',

    'AWS_SECRET_KEY' => '',

    'AWS_S3_BUCKET' => '',

    'STRIPE_SECRET_KEY' => '',

    'STRIPE_PUBLISHABLE_KEY' => '',

    'STRIPE_CLIENT_ID' => '',

    'STRIPE_CONNECT_API' => '',

    'STRIPE_LIVE_MODE' => false,

    'STRIPE_REDIRECT_URL' => 'com.mobilenow.paxifi://',

    'NOTIFICATION_ENABLED' => false,

    'NOTIFICATION_ENV' => 'dev',

    'NOTIFICATION_APNS_CERTIFICATE' => '',

    'NOTIFICATION_APNS_PASSPHRASE' => '',

    'NOTIFICATION_GCM_APIKEY' => '',

    'NOTIFICATION_JPUSH_APP_KEY' => '',

    'NOTIFICATION_JPUSH_MASTER_SECRET' => '',

    'QUEUE_DRIVER' => 'sync',

    'QUEUE_HOST' => '',

    'QUEUE_NAME' => '',
);
