/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.DS_Store
Thumbs.db
.idea
/app/config/development
build
cache.properties

phpunit.xml

.env.php
.env.local.php

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml