option_settings:
  - namespace: aws:autoscaling:asg
    option_name: MinSize
    value: 1
  - namespace: aws:autoscaling:asg
    option_name: MaxSize
    value: 4
  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: 'aws-paxifi-dev-eb'
  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: 't2.large'
  - namespace: aws:elasticbeanstalk:environment
    option_name: EnvironmentType
    value: 'SingleInstance'
  - namespace: aws:elb:loadbalancer
    option_name: CrossZone
    value: false
  - namespace: aws:elb:loadbalancer
    option_name: LoadBalancerHTTPPort
    value: 'OFF'
  - namespace: aws:elb:loadbalancer
    option_name: LoadBalancerHTTPSPort
    value: '443'
  - namespace: aws:elb:loadbalancer
    option_name: SSLCertificateId
    value: 'arn:aws:iam::308583039687:server-certificate/paxifi_certificate'
  - namespace: aws:elasticbeanstalk:application
    option_name: Application Healthcheck URL
    value: '/status'
  - namespace: aws:rds:dbinstance
    option_name: DBAllocatedStorage
    value: 10
  - namespace: aws:rds:dbinstance
    option_name: DBEngine
    value: 'mysql'
  - namespace: aws:rds:dbinstance
    option_name: DBInstanceClass
    value: 'db.t1.micro'
  - namespace: aws:rds:dbinstance
    option_name: DBUser
    value: 'paxifiuser'
  - namespace: aws:rds:dbinstance
    option_name: DBDeletionPolicy
    value: 'Delete'
  - namespace: aws:rds:dbinstance
    option_name: DBPassword
    value: 'paxifipassword'



