packages:
  yum:
    make: ""
sources:
  /home/ec2-user/zeromq: http://download.zeromq.org/zeromq-4.1.0-rc1.tar.gz
commands:
  100-install-libzmq:
    command: "./configure && make && make install"
    cwd: /home/ec2-user/zeromq/zeromq-4.1.0
    test: '[ ! -e /usr/local/lib/libzmq.so ]'
  110-install-zmq-php-ext:
    command: "yes '' | pecl install zmq-beta"
    test: '[ ! -e /etc/php.d/zmq.ini ]'

container_commands:
  120-copy-zmq-php-ext-ini:
    command: "cp .ebextensions/etc/php.d/zmq.ini /etc/php.d/zmq.ini"
    test: '[ ! -e /etc/php.d/zmq.ini ]'