packages:
  python:
    supervisor: ""

files:
  /etc/supervisord.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      [unix_http_server]
      file=/tmp/supervisor.sock    ; (the path to the socket file)
      [supervisord]
      logfile=/tmp/supervisord.log ; (main log file;default $CWD/supervisord.log)
      logfile_maxbytes=50MB        ; (max main logfile bytes b4 rotation;default 50MB)
      logfile_backups=10           ; (num of main logfile rotation backups;default 10)
      loglevel=info                ; (log level;default info; others: debug,warn,trace)
      pidfile=/tmp/supervisord.pid ; (supervisord pidfile;default supervisord.pid)
      nodaemon=false               ; (start in foreground if true;default false)
      minfds=1024                  ; (min. avail startup file descriptors;default 1024)
      minprocs=200                 ; (min. avail process descriptors;default 200)
      [rpcinterface:supervisor]
      supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface
      [supervisorctl]
      serverurl=unix:///tmp/supervisor.sock ; use a unix:// URL  for a unix socket
      priority=-1                  ; the relative start priority (default -1)
      [program:paxifi_socket_server]
      command=php artisan paxifi:listen
      directory=/var/www/html
      stdout_logfile=/tmp/supervisord_paxifi_socket_server.log
      autostart=true
      autorestart=true

commands:
  400-run-supervisord:
    command: 'supervisord'
    ignoreErrors: true

container_commands:
  410-copy-env-config:
    command: 'cp .ebextensions/env/config.php .env.php'
  430_remove_old_cron_jobs:
    command: "crontab -r || exit 0"
  435_cronjobs:
    command: "cat .ebextensions/cron/crontab | crontab"
    leader_only: true
  440-allow-write-to-public:
    command: "chmod -R 777 public"
  445-allow-write-to-storage:
    command: "chmod -R 777 app/storage"
  450-run-application-migrate:
    command: "php artisan migrate"
    test: '[ -e .ebextensions/autorun/setup.txt ]'
  455-run-migrate-seeder:
    command: "php artisan db:seed --class=NotificationTypesTableSeeder"
    test: '[ -e .ebextensions/autorun/setup.txt ]'

option_settings:
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: document_root
    value: /public
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: memory_limit
    value: '800M'
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: composer_options
    value: '--no-dev'
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PAXIFI_DEBUG
    value: false
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PAXIFI_SECURE
    value: true
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PAXIFI_DB_HOST
    value: ''
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PAXIFI_DB_PORT
    value: ''
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PAXIFI_DB_NAME
    value: ''
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PAXIFI_DB_USER
    value: ''
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PAXIFI_DB_PASS
    value: ''
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PAYPAL_MODE
    value: ''
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PAYPAL_URL
    value: ''
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PAYPAL_CLIENT_ID
    value: ''
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PAYPAL_CLIENT_SECRET
    value: ''
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PAYPAL_BUSINESS_ACCOUNT
    value: ''
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: CLOUDFRONT_URL
    value: ''
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AWS_S3_BUCKET
    value: ''
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AWS_ACCESS_KEY
    value: ''
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AWS_SECRET
    value: ''
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: STRIPE_SECRET_KEY
    value: ''
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: STRIPE_PUBLISHABLE_KEY
    value: ''
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: STRIPE_CLIENT_ID
    value: ''
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: STRIPE_CONNECT_API
    value: ''
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: STRIPE_LIVE_MODE
    value: ''
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: STRIPE_APPLICATION_FEE_RATE
    value: ''
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: STRIPE_REDIRECT_URL
    value: ''
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NOTIFICATION_ENABLED
    value: ''
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NOTIFICATION_ENV
    value: ''
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NOTIFICATION_APNS_CERTIFICATE
    value: ''
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NOTIFICATION_APNS_PASSPHRASE
    value: ''
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NOTIFICATION_GCM_APIKEY
    value: ''
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NOTIFICATION_JPUSH_APP_KEY
    value: ''
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NOTIFICATION_JPUSH_MASTER_SECRET
    value: ''
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: QUEUE_DRIVER
    value: ''
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: QUEUE_HOST
    value: ''
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: QUEUE_NAME
    value: ''
