packages: 
  yum: 
    mod24_ssl: []

files: 
  /etc/httpd/conf.d/ssl.conf:
    mode: "000755"
    owner: root  
    group: root
    content: |
        LoadModule ssl_module modules/mod_ssl.so
        Listen 443
        <VirtualHost *:443>
          <Proxy *>
            Order deny,allow
            Allow from all
          </Proxy>
          SSLEngine on
          SSLProtocol All -SSLv2 -SSLv3
          SSLCertificateFile "/etc/pki/tls/certs/server.crt"
          SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        
          ProxyPass / http://localhost:80/ retry=0
          ProxyPassReverse / http://localhost:80/
          ProxyPreserveHost on
        
          LogFormat "%h (%{X-Forwarded-For}i) %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\""
          ErrorLog /var/log/httpd/elasticbeanstalk-error_log
          TransferLog /var/log/httpd/elasticbeanstalk-access_log
        </VirtualHost>
  /etc/pki/tls/certs/server.crt: 
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN CERTIFICATE-----
        MIIFLjCCBBagAwIBAgIDFDdHMA0GCSqGSIb3DQEBBQUAMDwxCzAJBgNVBAYTAlVT
        MRcwFQYDVQQKEw5HZW9UcnVzdCwgSW5jLjEUMBIGA1UEAxMLUmFwaWRTU0wgQ0Ew
        HhcNMTQwNzI0MjIzOTQ3WhcNMTYwNzI2MTA0MTEwWjCBvTEpMCcGA1UEBRMgWmpQ
        MGUwcC9jcHdJeldFTkt3a2h6RGcxWEFNN0tMZnQxEzARBgNVBAsTCkdUNTg3Mzc1
        MzgxMTAvBgNVBAsTKFNlZSB3d3cucmFwaWRzc2wuY29tL3Jlc291cmNlcy9jcHMg
        KGMpMTQxLzAtBgNVBAsTJkRvbWFpbiBDb250cm9sIFZhbGlkYXRlZCAtIFJhcGlk
        U1NMKFIpMRcwFQYDVQQDEw53d3cucGF4aWZpLmNvbTCCASIwDQYJKoZIhvcNAQEB
        BQADggEPADCCAQoCggEBAMbFnr23D8rnzFqPqfcLf6Jvld2evHk1qZWV2VkjC0nt
        oId1fxb3qgccjwV9Ccd6DchYQkdVbfYZAoz2v3dAQ8Sf5z+T9PFoWH2Ltzvo21O3
        p+O53sp53C0s17NFD6jgKn3KzIwM1SN1BcB9AcvfcfjOEUw3WwsR/uzVgWj0ZCPV
        OQW0HBRtfvIwEUrcYeTv9kcjlUdz9ATRqvFkE4YjHrSSgQY1/w1PRylTyJgsDrE6
        8P7QKSjFeO1QAqsWTSsbBPejpPVwoKLKJUjvsBKFyHezZR/AUX3Po0ayvN2oQ7RL
        5Uud4iV+htXzDBN0iNcqBix5IbmCDNmpRd5ZC7V9kXECAwEAAaOCAbUwggGxMB8G
        A1UdIwQYMBaAFGtpPWoYQkrdjwJlOf01JIZ4kRYwMA4GA1UdDwEB/wQEAwIFoDAd
        BgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwJQYDVR0RBB4wHIIOd3d3LnBh
        eGlmaS5jb22CCnBheGlmaS5jb20wQwYDVR0fBDwwOjA4oDagNIYyaHR0cDovL3Jh
        cGlkc3NsLWNybC5nZW90cnVzdC5jb20vY3Jscy9yYXBpZHNzbC5jcmwwHQYDVR0O
        BBYEFHTnq0JWPlLzShID8agGhPm7Xen8MAwGA1UdEwEB/wQCMAAweAYIKwYBBQUH
        AQEEbDBqMC0GCCsGAQUFBzABhiFodHRwOi8vcmFwaWRzc2wtb2NzcC5nZW90cnVz
        dC5jb20wOQYIKwYBBQUHMAKGLWh0dHA6Ly9yYXBpZHNzbC1haWEuZ2VvdHJ1c3Qu
        Y29tL3JhcGlkc3NsLmNydDBMBgNVHSAERTBDMEEGCmCGSAGG+EUBBzYwMzAxBggr
        BgEFBQcCARYlaHR0cDovL3d3dy5nZW90cnVzdC5jb20vcmVzb3VyY2VzL2NwczAN
        BgkqhkiG9w0BAQUFAAOCAQEAp+Umo7PznOWFERz624Xb7mSa3KNlXToTyD2CecAa
        PP+ENkiGFBPk9YZsgiLZ73Y9TVIAsv/TmfncuSGg7LuRL0fqyOPZmmWnie0pCSmq
        7J10TS8xn7uPW4e4EgrGvqEdj0YrwCZQvTv5s+hhCHsmt3kvKWuQST8qvgJ0FMky
        H0B/bR0FeY2wBGDUSapwZ2OTvKtRNv4J5vxmJKFmX2I/yC9KCbAsNN5hJ3ThrGvt
        G6HJO0anEb4DWYkKwCzbOrcqRtSdhbY0OBNV/KsFYT5OPPTWrbwx7lk77dU7jr1k
        FiC5DD1AiTyLJIOEjLisghjIyH3qp9y73jYQfIwS94tatw==
        -----END CERTIFICATE-----
  /etc/pki/tls/certs/server.key: 
    mode: "000400"
    owner: root  
    group: root
    content: |
        -----BEGIN RSA PRIVATE KEY-----
        MIIEpQIBAAKCAQEAxsWevbcPyufMWo+p9wt/om+V3Z68eTWplZXZWSMLSe2gh3V/
        FveqBxyPBX0Jx3oNyFhCR1Vt9hkCjPa/d0BDxJ/nP5P08WhYfYu3O+jbU7en47ne
        ynncLSzXs0UPqOAqfcrMjAzVI3UFwH0By99x+M4RTDdbCxH+7NWBaPRkI9U5BbQc
        FG1+8jARStxh5O/2RyOVR3P0BNGq8WQThiMetJKBBjX/DU9HKVPImCwOsTrw/tAp
        KMV47VACqxZNKxsE96Ok9XCgosolSO+wEoXId7NlH8BRfc+jRrK83ahDtEvlS53i
        JX6G1fMME3SI1yoGLHkhuYIM2alF3lkLtX2RcQIDAQABAoIBAQCME+6Xke+eNZaM
        55uGzuKmrW523QvDe67EDPM73vdwpPaxH3ttyyFWm6iq3IBMxFX8Lz6eGLVCbkOe
        5bDusCpR4cJMys8eZUOfThvWK3aNW+sEEBPSquggKe7kljG/+CHZvlZCCDUYJLrl
        +PKQIyqlhUspZAVUGt2FN71YIoqDuNzN5H47NzRlQC1fz7SgfNi2l/hPhboWmGmM
        QPDNCxy2EiuWHheJak9yEXtjq8IYQSpzDSCAETi3o/byCOPeUxbBYEsTxp0bKG70
        k7LlM2BEAFhsWEzrPgP682SR5UihRfObadavimeNgF6GOVPfIQtO5WaDT9vLEniv
        L4Jc2mGFAoGBAOaulVIL6eqBcihG2CCUku4lwOQ06nMmnWiflnWMSU5yZzkqMzjr
        55jRZfof+CAKcHlDVhatEku9HIwuGLY9GeAxs3afRQejgcBEhVv3WacnEaczVzuE
        2OZxQ/fUnCuvpz/4A5/+RmABUkETzbEVHnTM4vv3JeUccIQruZSE+lAfAoGBANyW
        d/2lIej9WgGxXwSiaxIk369oJFBcLOiJfuyDhsgnWPY7kpkf6jCiJMBBss44ROEa
        JZV4+AJ/WDyl18VOYSnNuF9QQfmfa6LJnMQ8CllV0QxkDlorbrlenMuUdrWF1wga
        4og1R/+WUgzOdvIjyLe/VMFeCsSTnAgiM2+84KxvAoGBAL+Ak4mHRmtdhu2U0ntJ
        nCiDwvwwSanKlsZyJa/0BC9RngvA0sEgZiVhQK1CuPOwdurUUbWFfDjQB9D/u5ge
        ZUrPN9L0KZRL0r1QpP1R/GVdc7RAVNyeTooP4YLuR6+kpM3gEPJTXwz4S9amoA2w
        IJaKOK0/4X+v+mBfBDMdqce1AoGAGMQUCLhHjF8VgecmIeESYGEfdBQfL56JtDnr
        tCY4NbSlOlAJ74Mzye4KbkNyDdEnepZy7cs9HRqrD3QXO6HHKuhb8OeT4LDTZt13
        6lhLWShXZiq9qcYCknFa7Uhn4415TQGnuV8yDDIWWDW+CQWXfXnPzD4Au31PIWKl
        n7/3AaUCgYEA1NX64aWVJ7wWafRG8Z2BiUqD8pX3fKeSByBgnz6HPLEsrkiephP4
        olsKSrW77afPines3Z/TLcHZMycbZxO5dDZq+++NtdZ4uc4xd0Rr2b0mLRzY1xf7
        SQT6qLg6GntW8AUuLxx4OcZRHWs0OX2ptjpmq5VN90Lubgpd0PuNG+Q=
        -----END RSA PRIVATE KEY-----
