packages:
  yum:
    make: ""
sources:
  /home/ec2-user/redis: http://download.redis.io/redis-stable.tar.gz
commands:
  600-install-redis:
    command: "make"
    cwd: /home/ec2-user/redis/redis-stable
    test: '[ ! -e /usr/local/bin/redis-server ] || [ ! -e /usr/local/bin/redis-cli ]'

container_commands:
  610-copy-redis-command:
    command: "cp src/redis-server /usr/local/bin/ && cp src/redis-cli /usr/local/bin/"
    cwd: /home/ec2-user/redis/redis-stable
    test: '[ ! -e /usr/local/bin/redis-server ] || [ ! -e /usr/local/bin/redis-cli ]'
  620-copy-redis-init-script:
    command: "cp .ebextensions/init.d/redis_6379 /etc/init.d/redis_6379"
    test: '[ ! -e /etc/init.d/redis_6379 ]'
  630-create-redis-folders:
    command: "mkdir /etc/redis"
    test: '[ ! -d /etc/redis ]'
    ignoreErrors: true
  640-copy-redis-config:
    command: "cp .ebextensions/conf/6379.conf /etc/redis/6379.conf"
    test: '[ ! -e /etc/redis/6379.conf ]'
  650-change-log-file-permission:
    command: "sudo chmod 777 /var/log/redis_6379.log"
    test: '[ ! -e /var/log/redis_6379.log ]'
  660-start-redis-service:
    command: "service redis_6379 start"
    test: '[ ! -e /etc/init.d/redis_6379 ]'
