packages:
  yum:
    make: ""
sources:
  /home/ec2-user/redis: http://download.redis.io/redis-stable.tar.gz
commands:
  600-install-redis:
    command: "make"
    cwd: /home/ec2-user/redis/redis-stable
    test: '[ ! -e /usr/local/bin/redis-server ] || [ ! -e /usr/local/bin/redis-cli ]'
  600-copy-redis:
    command: "cp src/redis-server /usr/local/bin/redis-server && cp src/redis-cli /usr/local/bin/redis-cli"
    cwd: /home/ec2-user/redis/redis-stable
    test: '[ ! -e /usr/local/bin/redis-server ] || [ ! -e /usr/local/bin/redis-cli ]'
